.learnedContainer {
  min-height: 100vh;
  background: #f5f5f5;
}

.learnedSearchContainer {
  padding: 10px;
  background: #fff;
}

.learnedContent {
  padding-bottom: 20px;
}

.learnedCardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learnedCardWord {
  font-weight: bold;
  font-size: 16px;
}
